<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.entitymapper.ProgramMapper" >

    <resultMap id="result" type="table.entity.Program">
        <result column="Pno" property="no"/>
        <result column="Pname" property="name"/>
        <result column="Plevel" property="level"/>
        <result column="Ptype" property="type"/>
        <result column="Pmajor" property="major"/>
        <result column="Pinfo_start" property="infoStart"/>
        <result column="Pinfo_end" property="infoEnd"/>
        <result column="Pinfo_corporate" property="infoCorporate"/>
    </resultMap>

    <select id="select" parameterType="Map" resultMap="result">
        select * from Program
        <where>
            <if test="Pno_t!='' and Pno_t!=null">and Pno=#{Pno_t}</if>
            <if test="Pname_t!='' and Pname_t!=null">and Pname=#{Pname_t}</if>
            <if test="Plevel_t!='' and Plevel_t!=null">and Plevel=#{Plevel_t}</if>
            <if test="Ptype_t!='' and Ptype_t!=null">and Ptype=#{Ptype_t}</if>
            <if test="Pmajor_t!='' and Pmajor_t!=null">and Pmajor=#{Pmajor_t}</if>
            <if test="Pinfo_start_t!='' and Pinfo_start_t!=null">and Pinfo_start=#{Pinfo_start_t}</if>
            <if test="Pinfo_end_t!='' and Pinfo_end_t!=null">and Pinfo_end=#{Pinfo_end_t}</if>
            <if test="Pinfo_corporate_t!='' and Pinfo_corporate_t!=null">and Pinfo_corporate=#{Pinfo_corporate_t}</if>
        </where>
    </select>

    <update id="update" parameterType="Map">
        update Program
        <trim prefix="set" suffixOverrides=",">
            <if test="Pname!=''">Pname=#{Pname},</if>
            <if test="Plevel!=''">Plevel=#{Plevel},</if>
            <if test="Ptype!=''">Ptype=#{Ptype},</if>
            <if test="Pmajor!=''">Pmajor=#{Pmajor},</if>
            <if test="Pinfo_start!=''">Pinfo_start=#{Pinfo_start},</if>
            <if test="Pinfo_end!=''">Pinfo_end=#{Pinfo_end},</if>
            <if test="Pinfo_corporate!=''">Pinfo_corporate=#{Pinfo_corporate},</if>
        </trim>
        where Pno=#{Pno}
    </update>

    <delete id="delete" parameterType="String">
    delete from Program where Pno=#{no}
    </delete>

    <insert id="insert" parameterType="Map">
        insert into Program(Pno,Pname,Plevel,Ptype,Pmajor,Pinfo_start,Pinfo_end,Pinfo_corporate)
        values(#{Pno_t},#{Pname_t},#{Plevel_t},#{Ptype_t},#{Pmajor_t},#{Pinfo_start_t},#{Pinfo_end_t},#{Pinfo_corporate_t})
    </insert>
</mapper>
