<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.entitymapper.ScientistMapper" >

    <resultMap id="result" type="table.entity.Scientist">
        <result column="Sno" property="no"/>
        <result column="Sname" property="name"/>
        <result column="Sage" property="age"/>
        <result column="Ssex" property="sex"/>
        <result column="Sdept" property="dept"/>
        <result column="Spro" property="pro"/>
        <result column="Smaj" property="maj"/>
    </resultMap>

    <select id="select" parameterType="Map" resultMap="result">
        select * from Scientist
        <where>
            <if test="Sno_t!='' and Sno_t!=null">and Sno=#{Sno_t}</if>
            <if test="Sname_t!='' and Sname_t!=null">and Sname=#{Sname_t}</if>
            <if test="Sage_t!='' and Sage_t!=null">and Sage=#{Sage_t}</if>
            <if test="Ssex_t!='' and Ssex_t!=null">and Ssex=#{Ssex_t}</if>
            <if test="Sdept_t!='' and Sdept_t!=null">and Sdept=#{Sdept_t}</if>
            <if test="Spro_t!='' and Spro_t!=null">and Spro=#{Spro_t}</if>
            <if test="Smaj_t!='' and Smaj_t!=null">and Smaj=#{Smaj_t}</if>
        </where>
    </select>

    <update id="update" parameterType="Map">
        update Scientist
        <trim prefix="set" suffixOverrides=",">
            <if test="Sname!=''">Sname=#{Sname},</if>
            <if test="Sage!=''">Sage=#{Sage},</if>
            <if test="Ssex!=''">Ssex=#{Ssex},</if>
            <if test="Sdept!=''">Sdept=#{Sdept},</if>
            <if test="Spro!=''">Spro=#{Spro},</if>
            <if test="Smaj!=''">Smaj=#{Smaj},</if>
        </trim>
        where Sno=#{Sno}
    </update>

    <delete id="delete" parameterType="String">
    delete from Scientist where Sno=#{no}
    </delete>

    <insert id="insert" parameterType="Map">
        insert into Scientist(Sno,Sname,Ssex,Sage,Sdept,Spro,Smaj)
        values(#{Sno_t},#{Sname_t},#{Ssex_t},#{Sage_t},#{Sdept_t},#{Spro_t},#{Smaj_t})
    </insert>
</mapper>
